#modir-top-nav{
    display: none;
    font-size:x-small !important;
}
#carmand-top-nav{
    display: none;

}
#student-top-nav{

}

.col-sm-6 {
  border-radius: 1rem;
}
.activenavitem{
    background-color: #0056b3;
}
body{
    background-color:#f1f3fa;
}
.warning_confirm img {
  width: 3%;
}

.warning_confirm p {
  float: right;
  text-align: right;
  width: 55%;
  color: red;
}

.wrong_description_case , .wrong_topic_case , .wrong_referenceperson{
   visibility: hidden;
 }

.headofinput{
    font-size:large;
}
a{
    cursor: pointer;

}

