/*--Body--*/
body {
  background-color: #f1f3fa;
}

/*--Font--*/
* {
  font-family: "Comic Sans MS", serif;
}

/*--Row--*/
.col-sm-6 {
  background-color: white;
  margin-top:5%;
}

/*--Login Button Input--*/
#login_btn {
  width: 100%;
  font-size: 100%;
}

/*--Login Header--*/
h1 {
  color: #007bff;
}

/*--Login Label--*/
label {
  text-align: right;
  width: 100%;
  font-weight: bold;
}

/*--Warning--*/
.warning {

}

.warning span {

  color: red;

}

.warning img {
  width: 3%;
}

/*--wrong email and pass alert--*/
.wrong_login_email, .wrong_login_pass {
  visibility: hidden;
}
