/*--Font--*/
* {
  font-family: "Comic Sans MS", serif;
}

/*--Login Button Div--*/
#login_btn_div {
}

/*--Login Button Input--*/
#login_btn {
  width: 100%;
  color: white;
  background-color: #28a745;
  font-size: 100%;
}

/*--Login Header--*/
h1 {
  color: #28a745;
}

/*--Warning--*/
.warning {

}

.warning p {
  float: left;
  color: red;
  width: 96%;
}

.warning img {
  float: left;
  width: 4%;
}

/*--Email Warning P--*/

/*--Password Warning P--*/
