/*--Body--*/
body {
  background-color: #f1f3fa;
}

/*--Font--*/
* {
  font-family: "Comic Sans MS", serif;
}

/*--Row--*/
.col-lg-6 {
  background-color: #d4edda;
  margin-top: 5%;
}

/*--Sign Up Button Input--*/
#signup_btn {
  width: 100%;
  color: white;
  background-color: #007bff;
  font-size: 100%;
}

/*--Sign Up Header--*/
h1 {
  color: #007bff;
}

/*--Sign Up Label--*/
label {
  text-align: right;
  width: 100%;
  font-weight: bold;
}

/*--Warning--*/
.warning {

}

.warning p {
  float: right;
  text-align: right;
  width: 55%;
  color: red;
}

.warning img {
  width: 3%;
}

/*--Type Select--*/
select[name=position] {
  width: 100%;
}

/*--Section Select--*/
select[name=section] {
  width: 100%;
}
